<ul id="categories">
    <li>@*@Html.ActionLink("+ Reservation", "Index", "Reservation")</li>
    <li>@Html.ActionLink("+ Excursion", "Ajouter", "Excursion")</li>
    <li>
        @Html.ActionLink("+ Sortie", "Ajouter", "Sortie")</li>
    <li>
        @Html.ActionLink("+ Hotel", "Ajouter", "Hotel")</li>
    <li>
        @Html.ActionLink("+ Theme", "Ajouter", "Theme")</li>
    <li>
        @Html.ActionLink("+ Zone", "Ajouter", "Zone")</li>
    <li>
        @Html.ActionLink("+ Région", "Ajouter", "Region")</li>
        <li>*@
        @Html.ActionLink("Create Excursion", "Create", "Excursionn")
    </li>
</ul>
